/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(26, 26, 26);
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("./bg_img.jpg") no-repeat center center;
  background-size: cover;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-container {
  margin: 1vh 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#searchInput {
  width: 30vw;
  padding: 2vh;
  border: none;
  margin-right: 1vw;
  color: white;
  font-size: 1vw;
  font-weight: 500;
  background: transparent;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(1vw);
}

#searchInput::placeholder {
  color: white;
  font-size: 1vw;
  font-weight: 500;
}

button {
  padding: 2vh 2vh;
  border: none;
  border-radius: 0.5vw;
  background-color: #4caf50;
  color: white;
  font-size: 1vw;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1vw);
}

.box {
  margin-top: 2vh;
  padding: 8vh 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 60vh;
  background: transparent;
  border-radius: 1vw;
  border: 0.1vw solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2vw rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(1vw);
  transition: 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.container img {
  width: 10vw;
  margin-bottom: 1vw;
}

.container h2 {
  font-size: 1.2vw;
  margin: 0.5vw 0;
}

.box_2 {
  padding: 1vh 1vw;
  margin: 2vh 0vw 0vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 60vh;
  background: transparent;
  border-radius: 1vw;
  border: 0.1vw solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2vw rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(1vw);
  overflow-y: auto;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 1vw 0.3vw;
  padding: 5vh 0vw;
  width: 20vw;
  height: 40vh;
  background: rgba(231, 231, 231, 0.2);
  border-radius: 0.5vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-out;
}

.forecast-day img {
  width: 5vw;
  margin-bottom: 1vw;
}

.forecast-day h2 {
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.forecast-day p {
  font-size: 1vw;
  font-weight: 500;
  margin: 0.5vw 0;
}

h1 {
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 1vw #4e4e4e;
}

h2 {
  font-size: 1.5vw;
  color: #ffffff;
  text-align: center;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

footer {
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  color: white;
  font-size: 2vw;
  box-shadow: 0vw 1vh 1vh inset rgb(0, 0, 0);
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}

i {
  background-color: black;
  border-radius: 10px;
  margin: 2vw;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(26, 26, 26);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

=======
/* Animations */
.box:hover {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.forecast-day:hover {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.05) translateY(2.5vh);
}

button:hover {
  background-color: #005f05;
}

footer p a:hover {
  transform: scale(1.5);
}
.fa-instagram:hover {
  background: linear-gradient(
    rgb(254, 218, 117),
    rgb(250, 126, 30),
    rgb(214, 41, 118),
    rgb(150, 47, 191),
    rgb(79, 91, 213)
  );
  border-radius: 10px;
  height: fit-content;
  transition: 0.5;
}
.fa-youtube:hover {
  color: rgb(255, 0, 0);
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  transition: 0.5;
}
.fa-hackerrank:hover {
  color: rgb(46, 200, 102);
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  transition: 0.2;
}
.fa-github:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  transition: 0.5;
}
.fa-linkedin:hover {
  color: rgb(10, 102, 194);
  background-color: white;
  border-radius: 1px;
  height: fit-content;
  transition: 0.5;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
